@model IEnumerable<StudInfoOlympicAndСompetition.Models.Student>

@{
    ViewBag.Title = "ViewStudent";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New Student", "AddStudent")
</p>
<form method="get">
    <label class="col-sm-2 col-form-label">Course Student</label>
    @Html.DropDownList("CourseStud", ViewBag.CourseStud as SelectList, "all", new { @class = "form-control" })

    <input type="submit" value="filter" class="btn btn-default" />

</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.ActionLink("Add to Student Olympic/Competition", "AddToStudentOlympComp", new { id=item.Id }) |
            @Html.ActionLink("Details about participation in Olympic/Competition ", "DetailsStudent", new { id=item.Id }) |
            @Html.ActionLink("Delete student", "Deletetudent", new { id=item.Id })
        </td>
    </tr>
}

</table>
